{
    "swagger": "2.0",
    "info": {
        "title": "Shop API",
        "description": "HTTP JSON API",
        "version": "1.0.0"
    },
    "host": "api.shop.dev",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json",
        "application/xml"
    ],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "paths": {
        "/": {
            "get": {
                "tags": [
                    "Info"
                ],
                "responses": {
                    "200": {
                        "description": "API version",
                        "schema": {
                            "properties": {
                                "version": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            }
        },
        "/shop/cart": {
            "get": {
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Cart"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Cart"
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/{productId}/cart": {
            "post": {
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "modification",
                        "in": "formData",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "quantity",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/cart/{id}/quantity": {
            "put": {
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "quantity",
                        "in": "formData",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/cart/{id}": {
            "delete": {
                "tags": [
                    "Cart"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductItem"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/category/{categoryId}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "categoryId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductItem"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/brand/{brandId}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductItem"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/tag/{tagId}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "tagId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductItem"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/{productId}": {
            "get": {
                "tags": [
                    "Catalog"
                ],
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "description": "ID of product",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/ProductView"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/wishlist": {
            "get": {
                "tags": [
                    "WishList"
                ],
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/WishlistItem"
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/products/{productId}/wish": {
            "post": {
                "tags": [
                    "WishList"
                ],
                "parameters": [
                    {
                        "name": "productId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/shop/wishlist/{id}": {
            "delete": {
                "tags": [
                    "WishList"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success response"
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        },
        "/user/profile": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "description": "Returns profile info",
                "responses": {
                    "200": {
                        "description": "Success response",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                },
                "security": [
                    {
                        "Bearer": [],
                        "OAuth2": []
                    }
                ]
            }
        }
    },
    "definitions": {
        "ErrorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer"
                },
                "message": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "Cart": {
            "properties": {
                "weight": {
                    "type": "integer"
                },
                "amount": {
                    "type": "integer"
                },
                "items": {
                    "type": "array",
                    "items": {
                        "properties": {
                            "id": {
                                "type": "string"
                            },
                            "quantity": {
                                "type": "integer"
                            },
                            "price": {
                                "type": "integer"
                            },
                            "cost": {
                                "type": "integer"
                            },
                            "product": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "thumbnail": {
                                        "type": "string"
                                    },
                                    "_links": {
                                        "properties": {
                                            "self": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            },
                            "modification": {
                                "properties": {
                                    "id": {
                                        "type": "integer"
                                    },
                                    "code": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "_links": {
                                        "properties": {
                                            "quantity": {
                                                "properties": {
                                                    "href": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    }
                },
                "cost": {
                    "properties": {
                        "origin": {
                            "type": "integer"
                        },
                        "discounts": {
                            "type": "array",
                            "items": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "value": {
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "total": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductItem": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "category": {
                    "$ref": "#/definitions/ProductCategory"
                },
                "brand": {
                    "$ref": "#/definitions/ProductBrand"
                },
                "price": {
                    "$ref": "#/definitions/ProductPrice"
                },
                "thumbnail": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductView": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "categories": {
                    "properties": {
                        "main": {
                            "$ref": "#/definitions/ProductCategory"
                        },
                        "other": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/ProductCategory"
                            }
                        }
                    },
                    "type": "object"
                },
                "brand": {
                    "$ref": "#/definitions/ProductBrand"
                },
                "tags": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProductTag"
                    }
                },
                "photos": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ProductPhoto"
                    }
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductCategory": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductBrand": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductTag": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "ProductPrice": {
            "properties": {
                "new": {
                    "type": "integer"
                },
                "old": {
                    "type": "integer"
                }
            },
            "type": "object"
        },
        "ProductPhoto": {
            "properties": {
                "thumbnail": {
                    "type": "string"
                },
                "origin": {
                    "type": "string"
                }
            },
            "type": "object"
        },
        "WishlistItem": {
            "properties": {
                "id": {
                    "type": "integer"
                },
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "price": {
                    "properties": {
                        "new": {
                            "type": "integer"
                        },
                        "old": {
                            "type": "integer"
                        }
                    },
                    "type": "object"
                },
                "thumbnail": {
                    "type": "string"
                },
                "_links": {
                    "properties": {
                        "self": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "cart": {
                            "properties": {
                                "href": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "type": "object"
                }
            },
            "type": "object"
        },
        "Profile": {
            "required": [
                "id"
            ],
            "properties": {
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "email": {
                    "type": "string"
                },
                "city": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                }
            },
            "type": "object"
        }
    },
    "securityDefinitions": {
        "OAuth2": {
            "type": "oauth2",
            "flow": "password",
            "tokenUrl": "http://api.shop.dev/oauth2/token"
        },
        "Bearer": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}